/* Custom Audiobank Admonition to contain Audiobanks in collapsable elements */
:root {
  --md-admonition-icon--audiobank: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>playlist-music</title><path d="M15,6H3V8H15V6M15,10H3V12H15V10M3,16H11V14H3V16M17,6V14.18C16.69,14.07 16.35,14 16,14A3,3 0 0,0 13,17A3,3 0 0,0 16,20A3,3 0 0,0 19,17V8H22V6H17Z" /></svg>')
}
.md-typeset .admonition.audiobank,
.md-typeset details.audiobank {
  border-color: rgba(140, 142, 149, 1);
}
.md-typeset .audiobank > .admonition-title,
.md-typeset .audiobank > summary {
  background-color: rgba(140, 142, 149, 0.1);
}
.md-typeset .audiobank > .admonition-title::before,
.md-typeset .audiobank > summary::before {
  background-color: rgba(140, 142, 149, 1);
  -webkit-mask-image: var(--md-admonition-icon--audiobank);
          mask-image: var(--md-admonition-icon--audiobank);
}

/* Custom Sample Admonition to contain sample address tables in collapsable elements */
:root {
  --md-admonition-icon--waveform: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>waveform</title><path d="M22 12L20 13L19 14L18 13L17 16L16 13L15 21L14 13L13 15L12 13L11 17L10 13L9 22L8 13L7 19L6 13L5 14L4 13L2 12L4 11L5 10L6 11L7 5L8 11L9 2L10 11L11 7L12 11L13 9L14 11L15 3L16 11L17 8L18 11L19 10L20 11L22 12Z" /></svg>')
}

.md-typeset .admonition.waveform,
.md-typeset details.waveform {
  border-color: rgba(140, 142, 149, 1);
}
.md-typeset .waveform > .admonition-title,
.md-typeset .waveform > summary {
  background-color: rgba(140, 142, 149, 0.1);
}
.md-typeset .waveform > .admonition-title::before,
.md-typeset .waveform > summary::before {
  background-color: rgba(140, 142, 149, 1);
  -webkit-mask-image: var(--md-admonition-icon--waveform);
          mask-image: var(--md-admonition-icon--waveform);
}

/* Custom General Dropdown Admonition */
:root {
  --md-admonition-icon--dropdown: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>text</title><path d="M21,6V8H3V6H21M3,18H12V16H3V18M3,13H21V11H3V13Z" /></svg>')
}

.md-typeset .admonition.dropdown,
.md-typeset details.dropdown {
  border-color: rgba(140, 142, 149, 1);
}
.md-typeset .dropdown > .admonition-title,
.md-typeset .dropdown > summary {
  background-color: rgba(140, 142, 149, 1);
}
.md-typeset .dropdown > .admonition-title::before,
.md-typeset .dropdown > summary::before {
  background-color: rgba(140, 142, 149, 1);
  -webkit-mask-image: var(--md-admonition-icon--dropdown);
          mask-image: var(--md-admonition-icon--dropdown);
}

/* Custom alert Admonition */
:root {
  --md-admonition-icon--alert: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>alert-rhombus</title><path d="M12 2C11.5 2 11 2.19 10.59 2.59L2.59 10.59C1.8 11.37 1.8 12.63 2.59 13.41L10.59 21.41C11.37 22.2 12.63 22.2 13.41 21.41L21.41 13.41C22.2 12.63 22.2 11.37 21.41 10.59L13.41 2.59C13 2.19 12.5 2 12 2M11 7H13V13H11V7M11 15H13V17H11V15Z" /></svg>')
}

.md-typeset .admonition.alert,
.md-typeset details.alert {
  border-color: rgba(255, 23, 68, 1);
}
.md-typeset .alert > .admonition-title,
.md-typeset .alert > summary {
  background-color: rgba(255, 23, 68, 0.1);
}
.md-typeset .alert > .admonition-title::before,
.md-typeset .alert > summary::before {
  background-color: rgba(255, 23, 68, 1);
  -webkit-mask-image: var(--md-admonition-icon--alert);
          mask-image: var(--md-admonition-icon--alert);
}

/* Header Font Weight Change */
.md-typeset h1, .md-typeset h2, .md-typeset h3 {
  font-weight: 400;
}

/* Navigation Section changes, I prefer dropdowns to no dropdowns */
label#__nav_4_1_label.md-nav__link > .md-ellipsis,
label#__nav_4_2_label.md-nav__link > .md-ellipsis,
label#__nav_4_3_label.md-nav__link > .md-ellipsis,
label#__nav_4_4_label.md-nav__link > .md-ellipsis,
label#__nav_4_5_label.md-nav__link > .md-ellipsis {
  font-weight: 700;
  color: var(--md-default-fg-color--light);
}

/*
label#__nav_4_1_label.md-nav__link:hover > .md-ellipsis,
label#__nav_4_1_label.md-nav__link:focus > .md-ellipsis,
label#__nav_4_2_label.md-nav__link:hover > .md-ellipsis,
label#__nav_4_2_label.md-nav__link:focus > .md-ellipsis,
label#__nav_4_3_label.md-nav__link:hover > .md-ellipsis,
label#__nav_4_3_label.md-nav__link:focus > .md-ellipsis,
label#__nav_4_4_label.md-nav__link:hover > .md-ellipsis,
label#__nav_4_4_label.md-nav__link:focus > .md-ellipsis,
label#__nav_4_5_label.md-nav__link:hover > .md-ellipsis,
label#__nav_4_5_label.md-nav__link:focus > .md-ellipsis {
  color: var(--md-accent-fg-color);
}
*/

/* Change Logo Height */
.md-header__button.md-logo img {
  height: 2.5rem;
}
.md-header__button:hover {
  opacity: 1;
  cursor: auto;
}

/* Change tab navigation height */
.md-tabs {
  z-index: 1;
}